.compare-weight{
    color: #000;
    display: flex;
    justify-content: space-around;
    background-color: #ccc;
    padding: 20px;
}
.compare-weight > div{
    width: 45%; 
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgb(153, 153, 153);
    padding: 10px;
}
.weight-label{
    font-weight: 600;
    text-shadow: 2px 2px   rgb(243, 242, 242); 
}
.count-weight{
    font-size: 3rem;
}
.weight-now{
    color: rgb(235, 66, 66);
}
.desired-weight{
    color: rgb(85, 207, 4);
}
.describe-box{
    font-size: .9rem;
    color: rgb(114, 114, 114);
}
.accent{
    color:  rgb(235, 66, 66);
}
.speedometer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.speedometer-title{
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 0 0 0;
}
.speedometer-describe,
.speedometer-title{
    color: #757575;
}